* {
    box-sizing: border-box;
 }
 .container {
     display: flex;
     
 }
 .content {
     width: 30%;
     border: 2px solid gray;
     padding: 20px;
     overflow: hidden;
 }
 img {
     width: 100%; 
 }
 .image {
     opacity: 1;
     transition: opacity 0.5s linear;
 }
 .content:hover .image1 {
     opacity: 0.5;
 }
.image2 {
    transform: all 0.5s linear;
}
.content:hover .image2{
    transform: translate(5px, -5px);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}
.image3:hover {
    transform: scale(1.5);
    transition: all 0.5s linear;

}
@keyframes title {
   10% {color: yellow;}
   20% {color: green;}
   60% {color: blue;}
   80% {color: red;}
}
h1 {
    animation: title 5s infinite;
}