body {
    background-color: silver;
}
.box a {
    color: blue;
    font-weight: bold;
}
.box .logo {
    padding-right: 5px;
}
a {
    text-decoration: none;
    color: black;
   margin: 0px 20px 0px 20px;
   text-transform: uppercase;
}
.list-product {
    margin-top: 50px;
    text-align: center;
     display: flex;
    flex-direction: row;
     flex-wrap: wrap; 
     margin-left: 40px;
}
.list-product .product img{
width: 550px;
padding-right: 20px;
margin-top: 50px;
}
.list-product .product:hover {
    opacity: 0.9;
    transform: scale(1.1);
    transition: all 0.5s linear;
}
