body {
    margin: 0px 375px;
    padding: 72px 0px 112px;
    background-color: #F0F2F5;
}
.box {
    float: left;
}
.box1 {
    text-align: left;
}
.box img {
    width: 301px;
   margin: -28px;
   padding: 112px 0px 16px;
}
.box .box1 {
    padding: 0px 32px 0px 0px;
}
.box1 p {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.box2 {
    border: 1px solid white;
    padding-top: 6px;
    margin: 70px 0px 16px;
  text-align: center;
  width: fit-content;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.box2 .box3 {
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
} 
.box2 input {
    font-size: 17px;
    padding: 14px 16px;
    width: 390px;
    padding-left: 5px;
    background-color: #E8F0FE;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.box2 button {
    color: white;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 20px;
    line-height: 48px;
     padding: 0px 16px; 
    width: 390px;
}
.box2 hr {
    margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 20px;
    margin-left: 16px;
}
.box2 a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.box2 a:hover {
    text-decoration: underline;
}
.box4 button {
    width: 422px;
}
.box2 .box5 {
    margin-top: 16px;
}
.box .box2 .box6 button {
    width: 195px;
    background-color: #42B72A;
    margin-bottom: 30px;
}
.box2 .box6 button:hover {
background-color: seagreen;
}