/* chú thích*/
h2{
    color: mediumblue;
    text-transform: ;
}
p{
    color: chocolate;
    font-size: 18px;
}
#doanvan1{
    color: blueviolet;
}
.paragraph{
    background-color: burlywood;
    color: red;
}
.paragraph2{
    color: green;
}    
